# Day-2 : Some basic concepts of Python

1. Printing into the console 
2. Dynamically Typed Language - type()
3. Comments in Python
4. Strings in Python
5. Deleting Variables
6. Taking user inputs
7. If-else

##### 1. Printing into the console

In [1]:
print("ABC", end=" ")
print("DEF")

ABC DEF

In [2]:
print("Name:","Aditya")

Name: Aditya

##### 2. Dynamically Typed Language

In [3]:
a=5
type(a)

int

In [4]:
a=5.0
type(a)

float

In [5]:
a="5"
type(a)

str

##### 3. Using comments

In [6]:
#This is a variable with value 5 and name a
a=5

##### 4. Strings in Python

In [7]:
name="Aditya Anand"
print(type(name))
print(name)

<class 'str'>
Aditya Anand

In [8]:
name='Aditya Anand'
print(type(name))
print(name)

<class 'str'>
Aditya Anand

##### 5. Deleting Variables

In [9]:
a=5
b=a+10
print(a,b)

5 15

In [10]:
a=5
b=a+10
del a
print(a,b) #an error will occur as variable 'a' was deleted before this step

NameError: name 'a' is not defined

##### 6. Taking user input

In [11]:
print("Enter your Name:")
name=input()
print("My name is",name)

Enter your Name:
Aditya Anand
My name is Aditya Anand

In [12]:
name=input("Enter your Name:")
print("My name is",name)

Enter your Name:Aditya Anand
My name is Aditya Anand

##### 7. If-else statements in Python

###### Q1: Print 'yes' if your age is >30 else print 'no'

In [13]:
age=int(input("Enter your age:"))
if(age>30):
    print("yes")
else:
    print("no")

Enter your age:24
no

###### Q2: Print adult if your age is >30, teen if age is between 18 to 30, kid otherwise

In [14]:
age=int(input("Enter your age:"))
if(age>30):
    print("adult")
elif(age>18 and age<=30):
    print("teen")
else:
    print("kid")

Enter your age:14
kid

# Day 3 - Some basic concepts of Python(continued)

8. Operators - And, Or, Not, Conditional operators,mathematical operators
9. Looping
10. List, Tuples and Dictionaries
11. Sorting in ascending/descending order
12. Typecasting
13. Infinite loops - Break and Continue statements